# Module names are ordered alphabetically
# Required packages are ordered alphabetically within each module

# Global
pytest
pytest-mock
pytest-xprocess

# hitl
pyvirtualcam

# Module camera
opencv-python
numpy
ArducamEvkSDK
arducam_rgbir_remosaic

# Module image_encoding
Pillow

# Module kml
simplekml

# Module logger
pyyaml

# Coordinate conversions
pymap3d

# Module mavlink
pymavlink
# On the Raspberry Pi, pymavlink and dronekit don't have this as a import dependency
# This is because to connect to pixhawk using serial requires this
pyserial

# Module qr
pyzbar

# Hitl
future
monotonic

# Linters and formatters are explicitly versioned
black==24.2.0
flake8-annotations==3.0.1
pylint==3.0.3

# packager
build==1.3.0
fastcrc==0.3.2
lxml==6.0.2
packaging==25.0
pyproject_hooks==1.2.0

# Documentation
sphinx==8.2.3
sphinx-autodoc-typehints==3.2.0
numpydoc==1.9.0
